@media only screen and (max-width: 600px) {

*{
    color: #000000
}
html { 
    margin: 10px;  
    background-color: #fff;
	text-align: left;
} 

header {
    margin: 0px 0px 0px 0px;
    text-align: right;
    display: inline-block;
    background-image: url("../images/pinecones.jpg");
}

.logo img{
    float: left;
    margin-left: 10px 10px 10px 30px;
    width: 30%;

    }

h1 {
    padding: 10px 0px 10px 0px;
    font-size: 24px; 
    color: rgb(19, 153, 7); 
    font-family: Georgia;
}

h2 {
    margin: 10px;
    font-size: 14px; 
    color: rgb(19, 153, 7); 
}
h3 {
    padding: 10px 10px 10px 10px;
    font-size: 10px;
    color: rgb(19, 153, 7) ;
}

nav {
    align-self: auto;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 90%;
    background-color: #f1f1f1;
  }


  
  li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: rgb(12, 206, 77);
  }

  li.active {
      background-color: rgb(0, 63, 21);
  }

main {
    text-align: left;
    font-size: 16px; 
    line-height: 20px;
    font-family: 'Georgia';
    color: #000;
    max-width: 90%;
}

main img {
    display: inline-block;
}

body { 
    font-size: 16px; 
    line-height: 20px;
    font-family: 'Georgia';
    color: #000;
    background-color:#ffffff;
 
}
.motto {
    color: darkolivegreen
}

div {
    color: #000
}

map {
    border: darkolivegreen;
    border: 5px;
    
}

article {
    color: #000;
    max-width: 90%;
    text-align: left;
    align-content: center;
}

nav ul.hide {
    display: none;
}

}
