/*tablet*/
@media screen and (min-width: 416px) and (max-width: 719px){

    /* gallery */
     #photogallery{
        display: grid;
        grid-row-gap: 1rem;
    }
    
    div.gallery {
        margin: auto;
        border: 1px solid #ccc;
        max-width: 80%;
    }
    #field {
        grid-column: 1;
        grid-row: 1;
    }
    
    #dock {
        grid-column: 2;
        grid-row: 1;
    }
    
    #bench {
        grid-column: 1;
        grid-row: 2;
    }
    
    #snow {
        grid-column: 2;
        grid-row: 2;
    }
    
    #ice {
        grid-column: 1;
        grid-row: 3;
    }
    
    #snowtrees {
        grid-column: 2;
        grid-row: 3;
    }
    
    .gallery img{
        width: 100%;
    }
    
    .desc{
        text-align: center;
        padding-bottom: 1rem;
        padding-top: 1rem;
      }
    }