/* HTML selectors */
article {
    margin: 10px;
}

h1, h2 {
    text-align: center;
}

section {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/* class selectors */
.block {
    display: block;
}
